.login-main{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
.login-inputs{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
  max-width: 400px;
  padding: 10px;
  // min-height: 60vh;
  border-radius: 7px;
  }
 .headline{
  font-size: 22px;
  // padding: 0 20px;
  font-weight: 700;
  margin: 40px 0;
  color: #343a40;
  }
  input{
   border: 1px solid #c2bfbf;
   margin-bottom: 15px;
   padding: 10px 25px;
   color: #343a40;
   width: 70%;
  max-width: 350px;
  }
  input:focus{
   outline: none;
  }
  .headline-span{
   color:#4160AF;
  }
  .register{
   font-size: 11px;
   margin-top: 10px;
  }
  .registerLink{
   color:#4160AF;
   text-decoration :none;
  }
  button{
  width: 55%;
  padding: 9px 10px;
  text-align: center;
  border-radius:6px;
  cursor: pointer;
  color: #51D5C1;
  font-weight: 600;
  background-color:#4160AF;
  border: 1px solid rgb(197, 195, 195);
 }
 button:hover{
  background-color: #51D5C1;
  color:#4160AF;
 }

}
