.postupdate-main{
 margin-top: 50px;
 .postupdate-img{
 max-width:1500px;
 width: 100%;
 }
 .postUpdate-tagLine{
  color: #4160AF;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  padding: 5px;
 }
 .post-update{
 border: 1px solid rgb(239, 234, 234);
 background-color: whitesmoke;
 border-radius: 5px;
 width: 300px;
 padding: 20px 10px;
 margin: 15px auto;
 display: flex;
 justify-content: center;
 align-items: center;
}
.postupdate-button{
  width: 70%;
  padding: 7px 10px;
  text-align: center;
  border-radius:8px;
  cursor: pointer;
  color: #51D5C1;
   background-color:#4160AF;
  border: 1px solid rgb(197, 195, 195);
 }
 .postupdate-button:hover{
  background-color: #51D5C1;
  color:#4160AF;
 }


}
