.profile-edit{
 display: flex;
 flex-direction: column;
 min-height: 70vh;
 margin-top: 20px;

 .profileEdit-inputs{
  display: flex;
  flex-direction: column;
 }

 input{
  width: 270px;
  margin: 10px auto;
  padding: 5px 0;
  color: #343a40;
 }

 input:focus{
  outline: none;
 }

.profileEdit-btn{
 width: 13rem;
  padding: 0.7rem 0;
  background-color: #4160AF;
  cursor: pointer;
  color: #64EBB6;
  font-weight:600;
  border: none;
  margin: 10px auto;
}
.profileEdit-btn:hover{
  color: #4160AF;
  background-color: #64EBB6;
}
.profileEdit-div{
 display: flex;
 justify-content: end;
}
.profileEdit-back{
 font-size: 10px;
 padding-right: 10px;
 color: #64EBB6;
}

}