.profileCard-info{
 margin: 0 auto;
 width: 85%;
 max-width: 700px;
.profileCard-list li:nth-child(odd) {
  background-color: lightgray;
}

.profileCard-list li:nth-child(even) {
  background-color: white; 
}
 .profileCard-list{
  width: 100%;
  padding: 10px;
 }
 li{
  padding:15px 7px;
  color: #343a40;
 }
  .editDiv-btn{
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 20px;
 }
 .edit-btn{
  width: 13rem;
  padding: 0.7rem 0;
  background-color: #4160AF;
  cursor: pointer;
  color: #64EBB6;
  font-weight:500;
  border: none;
  border-radius: 3px;
  margin: 0 35px;
 }
 .edit-btn:hover{
  color: #4160AF;
  background-color: #64EBB6;
 }

}
